* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #111210;

}

a {
    text-decoration: none;
}

.background {
    padding-top: 6%;
}

/*---------------------------------------------CONTATO---------------------------------------*/
.contato {
    position: fixed;
    right: 79%;
    width: 17%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1d1e;
    border-radius: 18px;
}

.SombraImagem {
    background-color: #313331;
}

.contato img {
    border-radius: 50%;
    padding: 5%;
    background-color: #303130;
    margin-top: 50px;
    max-width: 100px;
    width: 100%;
    transition-property: padding;
    transition-duration: 1s;
}

.contato img:hover {
    padding: 0%;
    transition-property: padding;
    transition-duration: 1s;
}

.contato p {
    color: white;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.barra {
    border: solid 1px #303130;
    width: 170px;
    margin-top: 20px;
}

.informacaoPessoa {
    margin-top: 20px;
    display: flex;
}

.informacaoPessoa i {

    display: flex;
    align-items: center;
    color: #d7bf8a;
    padding: 5px;
    border-radius: 25%;
    box-shadow: -2px 0px 0px 1px #303130;
}

.informacaoPessoa i:hover {
    font-size: 18px;
}

.email {
    display: flex;
    flex-direction: column;
    font-size: 5px;
    margin-left: 10px;
}

.email p {
    width: 100%;
    font-size: 10px;
    margin-top: 1px;
}

.nomecontato {
    color: #111210;
    text-transform: uppercase;
}

.redessociais {
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.redessociais a {
    color: #7c7d7d;
    margin-left: 5px;
}

/*---------------------------------------------MENU---------------------------------------*/
.menu {
    position: relative;
    width: 70%;
    margin-left: 22%;
    height: 100%;
    border-radius: 18px;
    background-color: #1c1d1e;
    overflow: hidden;
}

.ChamandoNome {
    position: absolute;
    color: white;
    margin-left: 2%;
    margin-top: 4%;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace
}

nav {
    position: absolute;
    right: 0px;
}


nav ul {
    width: 100%;
    list-style: none;
    background: #313331;
    display: flex;
    border-radius: 7px;
    padding: 10px;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: #aaabad;
}

li a:hover {
    color: #d7bf8a;
    transition: 0.5s;
}

#BarraAmarela {
    position: absolute;
    border-radius: 20px;
    background-color: #f2cc7d;
    width: 30px;
    height: 4px;
    margin-top: 75px;
    margin-left: 20px;
}

/*-------------------------------------------------SOBRE-----------------------------*/
main {
    margin-left: 20px;
    margin-right: 20px;
}

.Sobre {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 105px;
    margin-bottom: 50px;
    align-items: center;
    color: darkgrey;
}

section h2 {
    color: white;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Atualidade {
    display: flex;
}

.github {
    display: flex;
    background: #202122;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 7px;
    align-items: center;
    padding: 18px 30px;
    box-shadow: -2px -2px 8px -1px #303130;
    margin-bottom: 20px;
}

.github i {
    color: #f2cc7d;
    font-size: 25px;
}


.github h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.github p {
    color: #7c7d7d;
}

.youtube {
    display: flex;
    background: #202122;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 7px;
    align-items: center;
    padding: 18px 30px;
    box-shadow: -2px -2px 8px -1px #303130;
    margin-bottom: 20px;
    margin-left: 30px;
}

.youtube i {
    color: #f2cc7d;
    font-size: 25px;
}


.youtube h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.youtube p {
    color: #7c7d7d;
}

.ParagrafosGithub {
    margin-left: 15px;
}

@media (min-width: 480px) {

    /*Barra de pesquisa*/
    .Nav480px {
        display: flex;
        width: 100%;
        position: static;
    }

    .Nav480px ul li {
        width: 100%;
    }

    .Nav480px ul li a {
        font-size: 15px;
        padding-right: 40px;
    }

    .nav {
        display: none;
    }

    /*Contato*/

    .contato {
        width: 170px;
        left: 25px;
    }

    .email p {
        font-size: 8px;
    }

    .menu {
        width: 60%;
        margin-left: 210px;
    }

    .Atualidade {
        display: block;
    }

    .youtube {

        margin-left: 0;
    }
}

@media (min-width:768px) {

    .Nav480px {
        display: none;
    }

    .nav {
        display: flex;
        width: 80%;

    }

    .nav ul li {
        text-align: center;
        width: 100%;
    }

    .nav ul li a {
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-align: center;
    }

    .contato {
        width: 170px;
        left: 35px;
    }

    .menu {
        width: 68%;
        margin-left: 230px;
    }


    .Atualidade {
        display: flex;
    }

}

@media(min-width:1024px) {

    /*Toda página css de 1024px tem que ter essa configuração*/
    .Nav480px {
        display: none;
    }

    .nav {
        display: flex;
    }

    .contato {
        width: 19%;

    }

    .menu {
        margin-left: 25%;
    }

    .nav ul li a {
        font-size: 20px;
    }


    .informacao p {
        font-size: 9px;
    }

    .ChamandoNome {
        font-size: 25px;
    }
    /*Fim*/

    .Atualidade {
        font-size: 13px;
    }

    .Sobre {
        font-size: 16px;
    }

}