* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111210;

}

.background {
    padding-top: 6%;
}

/*---------------------------------------------CONTATO---------------------------------------*/
.contato {
    position: fixed;
    right: 79%;
    width: 17%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1d1e;
    border-radius: 18px;
}

.SombraImagem {
    background-color: #313331;
}

.contato img {
    border-radius: 50%;
    padding: 5%;
    background-color: #303130;
    margin-top: 50px;
    max-width: 100px;
    width: 100%;
    transition-property: padding;
    transition-duration: 1s;
}

.contato img:hover {
    padding: 0%;
    transition-property: padding;
    transition-duration: 1s;
}

.contato p {
    color: white;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.barra {
    border: solid 1px #303130;
    width: 170px;
    margin-top: 20px;
}

.informacaoPessoa {
    margin-top: 20px;
    display: flex;
}

.informacaoPessoa i {

    display: flex;
    align-items: center;
    color: #d7bf8a;
    padding: 5px;
    border-radius: 25%;
    box-shadow: -2px 0px 0px 1px #303130;
}

.informacaoPessoa i:hover {
    font-size: 18px;
}

.email {
    display: flex;
    flex-direction: column;
    font-size: 5px;
    margin-left: 10px;
}

.email p {
    width: 100%;
    font-size: 10px;
    margin-top: 1px;
}

.nomecontato {
    color: #111210;
    text-transform: uppercase;
}

.redessociais {
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.redessociais a {
    color: #7c7d7d;
    margin-left: 5px;
}

h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*---------------------------------------------MENU---------------------------------------*/
.menu {
    position: relative;
    width: 70%;
    margin-left: 22%;
    height: 100%;
    border-radius: 18px;
    background-color: #1c1d1e;
    overflow: hidden;
}

.ChamandoNome {
    position: absolute;
    color: white;
    margin-left: 2%;
    margin-top: 4%;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace
}

nav {
    position: absolute;
    right: 0px;
}


nav ul {
    width: 100%;
    list-style: none;
    background: #313331;
    display: flex;
    border-radius: 7px;
    font-size: 18px;
    padding: 10px;
}

nav ul li a {
    text-transform: capitalize;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    color: #aaabad;
}

li a:hover {
    color: #d7bf8a;
    transition: 0.5s;
}

#BarraAmarela {
    position: absolute;
    border-radius: 20px;
    background-color: #f2cc7d;
    width: 30px;
    height: 4px;
    margin-top: 75px;
    margin-left: 20px;
}

/*-----------------------------------------------------------CURRICULO-------------------------------*/
.Curriculo {
    margin: 105px 20px 20px 20px;
    display: flex;
    flex-direction: column;

}

.educacao {
    display: flex;
    width: fit-content;
    margin-left: 0px;
    align-items: center;

}

.educacao p {
    color: white;
    font-size: 20px;
    margin-left: 10px;

}

.educacao i {
    width: 100%;
    color: #d7bf8a;
    padding: 10px;
    border-radius: 25%;
    box-shadow: -2px 0px 0px 1px #303130;
}

#TodosOsCursos {
    padding-top: 20px;
    margin-top: 0px;
}

.informacaoCurriculo {
    display: flex;
    align-items: baseline;
}

.EsferaComBarra {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 20px;
    margin-left: 1.8%;
}

.informacaoDoCurriculo {
    color: white;
    margin-left: 2%;
}

.Esfera {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #f2cc7d;
    margin-top: 0px;
    margin-left: 2%;
    box-shadow: 0px 0px 10px white;
}

.Barra {
    box-shadow: 0.5px 0px 0px 0.2px #303130;
    width: 1px;
    height: 100px;
    margin-top: 1px;
    margin-left: 2.3%;
}

.Curso {
    font-size: 18px;
    font-weight: 800;
}

.instituicao {
    padding-top: 3px;
}

.AnoCurso {
    color: #f2cc7d;
    
}

.InformacaoCurso {
    padding-top: 3px;
    color:#7c7d7d;
}