*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

body{
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cal{
  width: 400px;
  padding: .5em;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
}

#cal h3{
  font-size: .8em;
  font-weight: 300;
  color: #666;
}

#operations{
  text-align: right;
}

#previous-operation,
#current-operation{
  min-height: 1.6em;
  padding: 0.2em;
  overflow-wrap: break-word;
}

#previous-operation{
  color: #777;
}

#current-operation{
 font-size: 3em;
font-weight: 700;
}

#buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /*Dividindo os números por igual em coluna*/
  gap: 3px;/* Espaçamento entre os número sem precisa do margin*/
}

#buttons-container button{
 border: 1px solid transparent;
 border-radius: 1px;
 height: 4em;
 font-size: 1.2em;
 background: #dbdbdd;
 cursor: pointer;
}

#buttons-container .number{
  background-color: #f3f3f3;
}

#buttons-container .number:hover{
  background: #bababa;
  border-color: #999;
}

#buttons-container #equal-btn{
  grid-column: span 2;
  background-color:#999;
  color: white;
}

#buttons-container #equal-btn:hover{
  grid-column: span 2;
  background: #bababa
}
