@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: goldenrod;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*Aqui faz a quebra de linha, quando o item chega no limite do container, ele quebra a linha e passa para linha de baixo*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagem {
    background-image: url("/JAVASCRIPT/Jogo-Da-Forca/img/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
    /*Serve para quando colocar uma imagem, ela não repetir.*/
}