@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-color: goldenrod;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /*Aqui faz a quebra de linha, quando o item chega no limite do container, ele quebra a linha e passa para linha de baixo*/
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#imagem {
    background-image: url("/JAVASCRIPT/Jogo-Da-Forca/img/forca.png");
    width: 234px;
    height: 272px;
    background-repeat: no-repeat;
    /* Serve para quando colocar uma imagem, ela não repetir. */

}

#palavra-secreta {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 30px;

}

.letras {
    width: 14px;
    text-align: center;
    border: 2px solid red;
    color: white;
    padding: 10px;
    margin: 4px;
}

#teclado {
    margin-top: 30px;
}

.teclas button {
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    font-family: 'Ubuntu', sans-serif;
}

.teclas button:hover {
    background-color: silver;
    transform: scale(1.2);
    /* Cria um efeito de zoom nas letras*/
}

#categoria {
    margin-top: 30px;
    font-size: 1.5em;
}

/*------------------------------------------MEDIA ------------------------------------------------------------------*/

/* -------TAMANHO DE 321PX--------*/
@media (min-width:321px) {
    .teclas button {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }

    #categoria {
        font-size: 1.3em;
    }
}

/* -------TAMANHO DE 376PX--------*/
@media (min-width: 376px){

    .teclas button {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #palavra-secreta{
        font-size: 1.3em;
    }

    .letras{
        width: 18px;
    }

    #categoria {
        font-size: 1.5em;
    }
}

/* -------TAMANHO DE 426PX--------*/
@media (min-width: 426px){

    .teclas button {
        width: 36px;
        height: 36px;
        font-size: 20px;
    }

    #palavra-secreta{
        font-size: 1.5em;
    }

    .letras{
        width: 20px;
    }

    #categoria {
        font-size: 1.6em;
    }
}

/* -------TAMANHO DE 769PX--------*/
@media (min-width: 769px){

    .teclas button {
        width: 68px;
        height: 68px;
        font-size: 40px;
    }

    #palavra-secreta{
        font-size: 2.5em;
    }

    .letras{
        width: 35px;
    }

    #categoria {
        font-size: 4em;
    }
}