* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, tahoma;
}

.background {
    background-image: url(./Img/Astronalta.jpg);
    background-position: right;
    background-size: cover; /*Imagem não se multriplica*/
height: 100vh;
}