@import url('https://fonts.googleapis.com/css2?family= Neuton: wght @400;700 & display=swap');

/*---------------------------INICIO---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, tahoma;
}

:root {
    --rosa: #f9004d;
    --preto: #191919;

}

.background {
    background-image: url(./Img/Astronalta.jpg);
    background-position: center;
    background-size: cover;
    /*Imagem não se multriplica*/
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

nav h2 {
    color: white;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 10px;
}

nav ul li {
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
    /*Tira o pontos ou barra do lado de cada lista*/
    transition: transform .2s;
}

nav ul li:hover {
    transform: scale(1.2);
    /*Joga a palavra para frente*/
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    /*Deixa todas as primeiras letra em maiusculo*/
}

nav ul li a:hover {
    color: var(--rosa);
}

.btn {
    background-color: var(--rosa);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .2s;
    /*Deixa a transição mais suave, mas precisa do transform: scale no hover*/
}

.btn:hover {
    transform: scale(1.2);
}

.Main {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}

h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
}

h1 {
    color: white;
    margin: 20px 20px;
    font-size: 70px;
    font-family: 'Neuton', serif;
}

span {
    color: var(--rosa);
    font-family: 'Neuton', serif;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
}

.Container-btn form {
    width: 420px;
    max-width: 100%;
    position: relative;

}

.Container-btn form input:first-child {
    /*Aqui como tem dois input, eu não quero selecionar os dois, quero selecionar apenas o primeiro, por isso usei o first-child*/
    display: inline-block;
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    outline: none
}

.Container-btn form input:last-child {
    position: absolute;
    display: inline-block;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    background-color: var(--rosa);
    right: 6px;
    top: 6px;
}

.Container-btn form input:last-child:hover {
    transform: scale(0.9);
}



/*---------------------------SOBRE MIM---------------------*/
.background-color-sobre {
    background-color: #191919;
    width: 100%;
    padding: 100px;
}

.background-color-sobre img {
    width: 430px;
    height: auto;
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icone-menu .menu {
    font-size: 30px;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    border: 2px solid red;
}

#barra-menu {
    background: #191919;
    height: 100vh;
    width: 0px;
    transition: 0.3s all;

}

#barra-menu ul li {
    list-style: none;
    /*Tirando os pontinhos preto da lateral da lista*/
    padding: 15px;
}

#barra-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: px;
    width: 100%;
    text-transform: capitalize;
}

.C-icon {
    margin-top: 100%;
    display: flex;
    border: solid 2px red;
    justify-content: center;
}

#barra-menu ul li a:hover {
    border: 2px solid none;
    padding: 10px;
    transition: 0.5s;
    background: var(--rosa);
    border-radius: 20px;
    cursor: pointer;
}

.Main-sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-sobre {
    width: 550px;
}

.text-sobre h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    /*Primeiras letra em maiusculo*/
    margin-bottom: 20px;
}

.text-sobre h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.text-sobre p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    /*Distância entre as linhas do texto*/
    font-size: 18px;
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttom {
    color: white;
    background-color: var(--rosa);
    text-transform: capitalize;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding: 13px 20px;
    transition: .4s;
}

.buttom:hover {
    background-color: transparent;
    border: 2px solid var(--rosa);
    cursor: pointer;
}

.container-projetos {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
    /*100px vai apenas para vertical e a horizontal fica em 0*/
}

.title h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    text-align: center;
}

.Caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
    /* Ele quebra linha para conseguir caber em todo o container*/
}

.card {
    background-color: var(--preto);
    height: 365px;
    width: 335px;
    border: 20px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--rosa);
}

.card h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.card p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.btn {
    border: none;
    padding: 15px 30px;
    font-size: 15px;
    text-transform: capitalize;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--rosa);
    cursor: pointer;
}

.me-contate {
    width: 100%;
    height: 240px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-contate p {
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-color: #101010;
    align-items: center;
    justify-content: center;
}

footer h6 {
    font-size: 36px;
    color: white;

}

footer p {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

.redesSociais {
    display: flex;
}

.redesSociais a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa);
    color: white;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}

.redesSociais a:hover {
    transform: scale(1.2);
    transition: .2s;
}

.End p {
    position: relative;
    color: var(--rosa);
    letter-spacing: normal;
    top: 35px;
    font-size: 14px;
}

@media screen and (max-width:375px) {
    .icone-menu .menu {
        display: block;
    }

    #barra-menu {
        height: 100vh;
        z-index: 1;
    }

    .C-icon {
        background-color: var(--rosa);
        color: white;
        text-transform: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 5px;
        border-radius: 30px;
        width: 150px;
        margin-left: 15px;
    }

    .Main h1,
    h3 {
        font-size: 20px;
    }

    .Container-btn form {
        width: 180px;
        max-width: 100%;
        position: relative;
        margin-left: -2px;
    }

    .background-color-sobre {
        align-items: center;
        text-align: center;
    }

    .Main-sobre img {
        width: 280px;
        height: auto;
        border-radius: 10px;
        margin-left: -180px;
    }

    .text-sobre h2 {
        font-size: 45px;
        margin-left: -180px;
    }

    .text-sobre h5 {
        font-size: 18px;
        margin-left: -180px;
    }

    .text-sobre p {
        font-size: 15px;
        width: 250px;
        text-align: left;
        margin-left: 15px;
    }

    .text-sobre button{
        margin-left: -180px;
    }
}