* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    /*Tira a barra de rolagem*/
    position: absolute;
    top: 50%;
    left: 50%;
    /*Este código abaixo está se posicionando .itemem relação a .container; significando que .item o canto superior esquerdo está no centro de seu contêiner*/
    transform: translate(-50%, -50%);
    /*Enquanto abaixo está se posicionando .item em relação à sua própria largura e altura; significando menos 50% de sua largura e altura*/
    box-shadow: 10px 10px 5px 0px black;
}

.content .img-slider img {
    width: 100%;
    height: 100%;
}

.navigation {
    position: absolute;
    bottom: 100px;
    left: 750px;
    display: flex;
}

.bar {
    width: 15px;
    height: 15px;
    margin: 6px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.bar:hover {
    background: white;
}

.input {
    display: none;
}

.slider {
    display: flex;
    width: 400%;
    /*Como a gente precisa que as imagens seja flex, pois, a gente quer ela uma do lado da outra. A gente coloca em 400%, por ser 4 imagem e cada uma tem 100%*/
    height: 100%;
}

.img-slider {
    width: 25%;
    /*Serve para cobri os 100% do height do slider*/
    transition: .6s;
}

/*Passando a imagem do slider para o lado !!*/

#slide1:checked ~ .s1 {
    /*Aqui a gente está modificando o primeiro slider no s1, o ~ significa o que você deseja modificar*/
    margin-left: 0;
    /* O margin-left vai continuar 0, porque se o primeiro está marcado, eu quero que ele comece no margin 0,  */
}

#slide2:checked ~ .s1 {
    margin-left: -25%; 
}

#slide3:checked ~ .s1 {
    margin-left: -50%; 
}

#slide4:checked ~ .s1 {
    margin-left: -75%; 
}

